body {
    background-color: #ccc;
}

.visible.color_red {
    background-image: url(/static/hex2_red.png);
}
.visible.color_green {
    background-image: url(/static/hex2_green.png);
}
.visible.color_yellow {
    background-image: url(/static/hex2_yellow.png);
}
.visible.color_orange {
    background-image: url(/static/hex2_orange.png);
}
.visible.color_purple {
    background-image: url(/static/hex2_purple.png);
    color: #fff;
}
.visible.color_blue {
    background-image: url(/static/hex2_blue.png);
    color: #fff;
}
.visible.color_white {
    background-image: url(/static/hex2_white.png);
}
.hex.hidden {
    background-image: url(/static/hex2.png);
}
.hex.open {
    background-image: url(/static/hex2.png);
}

.hex.opening {
    background-image: url(/static/hex2_selected.png);
    color: #000;
}

#map {
    position: absolute;
    left: 650px;
    top:  650px;
}

.hex {
    z-index: 5;
    position: absolute;
    text-align: center;
    font-family: Verdana;
    width: 125px;
    height: 108px;
    background-size: 125px;
    background-repeat: no-repeat;
};

.hex .code {
    position: absolute;
    top: 10px;
    width: 125px;
    font-size: 14px;
    font-family: Courier;
}

.hex .cost {
    position: absolute;
    top: 85px;
    font-size: 24px;
    width: 125px;
    font-family: Courier;
}
.hex .opened {
    position: absolute;
    top: 25px;
    font-size: 12px;
    height: 60px;
    width: 125px;
    display: table;
}
.hex .opened div {
    display: table-cell;
    vertical-align: middle;
}

.hex .opened div span {
    display: block;
    width:  80px;
    margin: auto;
}

.hex .closed {
    position: absolute;
    font-size: 36px;
    width: 125px;
    top: 36px;
}

.hex .who {
    display: none;
    font-face: Courier;
    font-size: 16px;
    position: absolute;
    width: 125px;
    top: 26px;
    font-weight: bold;
}

.hex.visible.pending .who {
    display: block;
}

.hex.open .cost {
    display: none;
}

#openwindow {
    position: fixed;
    left: 100px;
    top: 100px;
    border: 2px solid black;
    background-color: white;
    padding: 1em;
    z-index: 10;
}

#codeshow {
    font-family: Mono;
}
